<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <h:form id="formId">
                         
        <p:menubar id="menubarId" >
            <p:submenu id="submenuClientesId" label="#{bundle['menu.submenu.clientes']}" icon="ui-icon-contact">
                <p:menuitem
                    id="menuitemListarId"
                    value="#{bundle['menu.menuitem.listar']}"
                    outcome="/listagem.xhtml"
                />
            </p:submenu>
            
        </p:menubar>

    </h:form>
    
</html>