<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <f:view id="viewId" contentType="text/html">
        
        <h:head>
        
            <f:facet name="first">
                
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
                
                <title>
                    <ui:insert id="insTitulo" name="tituloJanela" />
                </title>
                
            </f:facet>
            
        </h:head>

        <h:body>

            <p:layout id="layoutPagina" fullPage="true">

                <p:layoutUnit id="layUnitCenter" position="center" visible="true" closable="false" collapsible="false" >
                    
                    <ui:include id="incConteudo" src="/templates/menubar.xhtml" />
                    <ui:insert id="insConteudo" name="conteudoPagina" />
		
                </p:layoutUnit>

                <p:layoutUnit id="layUnitSouth" position="south" visible="true" size="50" closable="false" collapsible="false">
                    SUPORTE: marcelomformiga@gmail.com
                </p:layoutUnit>

            </p:layout>

        </h:body>
        
    </f:view>
    
</html>