<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition id="compId" template="/templates/template.xhtml">
        
        <ui:define id="defTituloJanelaId" name="tituloJanela">
            Simulação de Empréstimo
            <h:outputScript library="js" name="scripts.js" />
        </ui:define>
        
        <ui:define id="defConteudoId" name="conteudoPagina">
            
            <h:panelGroup id="pgMessagesId" layout="block">
                <p:messages id="messagesId" autoUpdate="true" showDetail="false" showSummary="true" showIcon="true" />
            </h:panelGroup>
            
            <h:form id="formEmprestimoId">

                <p:panelGrid id="panelGridDadosId" columns="2" >

                    <p:outputLabel
                        id="lblRiscoId"
                        value="#{bundle['label.risco']}"
                        for="txtRiscoId"
                    />
                    <p:inputText
                        id="txtRiscoId"
                        value="#{clienteMB.cliente.risco}"
                        disabled="true"
                        size="2"
                        maxlength="1"
                        required="true"
                    />
                    <p:outputLabel
                        id="lblTaxaId"
                        value="#{bundle['label.taxa']}"
                        for="numTaxaId"
                    />
                    <p:inputNumber
                        id="numTaxaId"
                        value="#{clienteMB.emprestimo.taxa}"
                        title="#{bundle['title.text.emprestimo.taxa']}"
                        disabled="true"
                        symbol=" %"
                        symbolPosition="s"
                        decimalSeparator=","
                        thousandSeparator="."
                    />
                    <p:outputLabel
                        id="lblValorId"
                        value="#{bundle['label.valor']}"
                        for="numValorId"
                    />
                    <p:inputNumber
                        id="numValorId"
                        value="#{clienteMB.emprestimo.valorSolicitado}"
                        title="#{bundle['title.text.emprestimo.valor_solicitado']}"
                        symbol="R$ "
                        symbolPosition="p"
                        decimalSeparator=","
                        thousandSeparator="."
                        required="true"
                        requiredMessage="#{bundle['mensagem.emprestimo.campo.obrigatorio.valor']}"
                        tabindex="1"
                    />
                    <p:outputLabel
                        id="lblTempoId"
                        value="#{bundle['label.tempo']}"
                        for="numTempoId"
                    />
                    <p:inputNumber
                        id="numTempoId"
                        value="#{clienteMB.emprestimo.tempo}"
                        title="#{bundle['title.text.emprestimo.tempo']}"
                        symbol=" meses"
                        symbolPosition="s"
                        required="true"
                        requiredMessage="#{bundle['mensagem.emprestimo.campo.obrigatorio.tempo']}"
                        tabindex="2"
                    />
                </p:panelGrid>
                
                 <br />
                
                <h:panelGroup id="pgButtonsId" layout="block">
                    <p:commandButton
                        id="btnCalcularId"
                        value="#{bundle['button.calcular']}"
                        title="#{bundle['title.button.calcular']}"
                        actionListener="#{clienteMB.calcular}"
                        update="@form"
                        tabindex="3"
                    />
                </h:panelGroup>
                
                <br />
                
                <p:panelGrid id="panelGridJurosId" columns="2" >
                    <p:outputLabel
                        id="lblJurosMesId"
                        value="#{bundle['label.juros_mes']}"
                        for="numJurosMesId"
                    />
                    <p:inputNumber
                        id="numJurosMesId"
                        value="#{clienteMB.emprestimo.jurosMes}"
                        title="#{bundle['title.text.emprestimo.juros_mes']}"
                        disabled="true"
                        symbol="R$ "
                        symbolPosition="p"
                        decimalSeparator=","
                        thousandSeparator="."
                    />
                    <p:outputLabel
                        id="lblJurosTotalId"
                        value="#{bundle['label.juros_total']}"
                        for="numJurosTotalId"
                    />
                    <p:inputNumber
                        id="numJurosTotalId"
                        value="#{clienteMB.emprestimo.jurosTotal}"
                        title="#{bundle['title.text.emprestimo.juros_total']}"
                        disabled="true"
                        symbol="R$ "
                        symbolPosition="p"
                        decimalSeparator=","
                        thousandSeparator="."
                    />
                    <p:outputLabel
                        id="lblTotalId"
                        value="#{bundle['label.total']}"
                        for="numTotalId"
                    />
                    <p:inputNumber
                        id="numTotalId"
                        value="#{clienteMB.emprestimo.valorTotal}"
                        title="#{bundle['title.text.emprestimo.valor_total']}"
                        disabled="true"
                        symbol="R$ "
                        symbolPosition="p"
                        decimalSeparator=","
                        thousandSeparator="."
                    />
                    
                </p:panelGrid>
                
                <br />
                <br />
                
                <p:link
                    id="lnkInicioId"
                    value="#{bundle['link.inicio']}"
                    outcome="/index"
                    tabindex="4"
                />
                
            </h:form>
            
        </ui:define>
        
    </ui:composition>
    
</html>