<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:composition id="compId" template="/templates/template.xhtml">
        
        <ui:define id="defTituloJanelaId" name="tituloJanela">
            Cadastro - CLIENTE
            <h:outputScript library="js" name="scripts.js" />
        </ui:define>
        
        <ui:define id="defConteudoId" name="conteudoPagina">
            
            <h:panelGroup id="pgMessagesId" layout="block">
                <p:messages id="messagesId" autoUpdate="true" showDetail="false" showSummary="true" showIcon="true" />
            </h:panelGroup>
            
            <h:form id="formClienteId">

                <h:inputHidden
                    id="hiddenId"
                    value="#{clienteMB.cliente.id}"
                />
                
                <p:panelGrid id="panelGridId" columns="2" >

                    <p:outputLabel
                        id="lblNomeId"
                        value="#{bundle['label.nome']}"
                        for="txtNomeId"
                    />
                    <p:inputText
                        id="txtNomeId"
                        value="#{clienteMB.cliente.nome}"
                        title="#{bundle['title.text.cliente.nome']}"
                        size="80"
                        maxlength="80"
                        required="true"
                        requiredMessage="#{bundle['mensagem.cadastro.campo.obrigatorio.nome']}"
                        tabindex="1"
                    />
                    <p:outputLabel
                        id="lblRendimentoId"
                        value="#{bundle['label.rendimento_mensal']}"
                        for="numRendimentoId"
                    />
                    <p:inputNumber
                        id="numRendimentoId"
                        value="#{clienteMB.cliente.rendimentoMensal}"
                        title="#{bundle['title.text.cliente.rendimento_mensal']}"
                        symbol="R$ "
                        symbolPosition="p"
                        decimalSeparator=","
                        thousandSeparator="."
                        tabindex="2" >
                        <p:ajax 
                            id="ajaxRiscoId"
                            update="txtRiscoId"
                            listener="#{clienteMB.mapearRisco()}" 
                            event="keyup"
                        />
                    </p:inputNumber>
                    <p:outputLabel
                        id="lblRiscoId"
                        value="#{bundle['label.risco']}"
                        for="txtRiscoId"
                    />
                    <p:inputText
                        id="txtRiscoId"
                        value="#{clienteMB.cliente.risco}"
                        disabled="true"
                        size="2"
                        maxlength="1"
                        required="true"
                    />
                    <p:outputLabel
                        id="lblEnderecoId"
                        value="#{bundle['label.endereco']}"
                        for="txtEnderecoId"
                    />
                    <p:inputText
                        id="txtEnderecoId"
                        value="#{clienteMB.cliente.endereco}"
                        title="#{bundle['title.text.cliente.endereco']}"
                        size="200"
                        maxlength="200"
                        required="false"
                        tabindex="3"
                    />
                    
                </p:panelGrid>
                
                <br />
                
                <h:panelGroup id="pgButtonsId" layout="block">
                    <p:commandButton
                        id="btnSalvarId"
                        value="#{bundle['button.salvar']}"
                        title="#{bundle['title.button.salvar']}"
                        action="#{clienteMB.salvar()}"
                        tabindex="4"
                    />
                    <p:link
                        id="lnkVoltarId"
                        value="#{bundle['link.voltar']}"
                        outcome="/listagem.xhtml"
                        tabindex="5"
                    />
                </h:panelGroup>
                
                <br />
                <br />
                
                <p:link
                    id="lnkInicioId"
                    value="#{bundle['link.inicio']}"
                    outcome="/index"
                    tabindex="6"
                />
                
            </h:form>
            
        </ui:define>
        
    </ui:composition>
    
</html>