<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition id="compId" template="/templates/template.xhtml">
        
        <h:head>
            Clientes
        </h:head>
        
        <ui:define id="defConteudoId" name="conteudoPagina">
            
            <p:growl id="growlId" autoUpdate="true" showSummary="true" showDetail="false" />
                
            <h:form id="formListaClientesId" >
                
                <p:dataTable
                    id="tableClientesId"
                    var="var_cliente"
                    value="#{clienteMB.clientes}"
                    selection="#{clienteMB.cliente}"
                    selectionMode="single"
                    rowKey="#{var_cliente.id}"
                    paginator="true"
                    rows="20"
                    paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                    rowsPerPageTemplate="5, 10, 15"
                    lazy="true"
                    scrollable="true"
                    scrollHeight="300"
                >
                    
                    <f:facet id="cabecalho" name="header" >
                        Lista de CLIENTES
                    </f:facet>
                    
                    <p:column id="colCodigoId" headerText="#{bundle['column.codigo']}" >
                        <h:outputText
                            id="txtCodigoId"
                            value="#{var_cliente.id}"
                        />
                    </p:column>
                    <p:column id="colNomeId" headerText="#{bundle['column.nome']}" >
                        <h:outputText
                            id="txtNomeId"
                            value="#{var_cliente.nome}"
                        />
                    </p:column>
                    <p:column id="colRendimentoId" headerText="#{bundle['column.rendimento_mensal']}" >
                        <h:outputText
                            id="txtRendimentoId"
                            value="#{var_cliente.rendimentoMensal}"
                        />
                    </p:column>
                    <p:column id="colRiscoId" headerText="#{bundle['column.risco']}" >
                        <h:outputText
                            id="txtRiscoId"
                            value="#{var_cliente.risco}"
                        />
                    </p:column>
                    <p:column id="colEnderecoId" headerText="#{bundle['column.endereco']}" >
                        <h:outputText
                            id="txtEnderecoId"
                            value="#{var_cliente.endereco}"
                        />
                    </p:column>
                </p:dataTable>
                
                <h:panelGroup id="pgButtonsId" layout="block">
                    <p:commandButton
                        id="btnIncluirId"
                        value="#{bundle['button.incluir']}"
                        title="#{bundle['title.button.incluir']}"
                        action="#{clienteMB.inicializarObjetos()}"
                        tabindex="1"
                    />
                    <p:commandButton
                        id="btnEditarId"
                        value="#{bundle['button.editar']}"
                        title="#{bundle['title.button.editar']}"
                        action="#{clienteMB.editar()}"
                        tabindex="2"
                    />
                    <p:commandButton
                        id="btnExcluirId"
                        value="#{bundle['button.excluir']}"
                        title="#{bundle['title.button.excluir']}"
                        actionListener="#{clienteMB.excluir()}"
                        ajax="true"
                        update="@form"
                        tabindex="3" >
                    
                        <p:confirm id="confId" header="Confirmar exclusão" message="Deseja mesmo excluir este registro?" icon="ui-icon-alert" /> 
                        <f:ajax
                            id="ajaxBtnSimId" 
                            execute="@form"
                            render="@form"
                        />
                    </p:commandButton>
                    <p:commandButton
                        id="btnSimularId"
                        value="#{bundle['button.simular_emprestimo']}"
                        title="#{bundle['title.button.simular_emprestimo']}"
                        action="#{clienteMB.simularEmprestimo()}"
                        tabindex="4"
                    />
                        
                </h:panelGroup>
                
                <br />
                <br />
                
                <p:confirmDialog id="cdExclusaoId" global="true" showEffect="fade" hideEffect="fade" >
                    <p:commandButton 
                        id="btnSimId"
                        type="button"
                        value="#{bundle['button.sim']}"
                        title="#{bundle['title.button.sim']}"
                        styleClass="ui-confirmdialog-yes"
                        icon="ui-icon-check"
                    />
                    <p:commandButton
                        id="btnNaoId"
                        type="button"
                        value="#{bundle['button.nao']}"
                        title="#{bundle['title.button.nao']}"
                        styleClass="ui-confirmdialog-no"
                        icon="ui-icon-close"
                        immediate="true"
                    />
                </p:confirmDialog>
                
            </h:form>
            
        </ui:define>
        
    </ui:composition>
 
</html>